div#principal{
  margin-left: 20%;
  display:grid;
  grid-template-columns: repeat(3,20vw);
  grid-template-rows: auto;
}

p.auteur{
  margin-top:auto;
}

.idee {
  border-radius: 25px;
  border: 2px solid #000000;
  padding: 20px;
  width: 200px;
  height: 150px;
  margin:20px
}