<div id="tout">
  <div id="principal">
    <ng-container *ngFor="let idee of idees">
      <div class="idee">
        <p>{{idee.contenu}}<p>
        <p class="auteur">Par : <b>{{idee.auteur}}</b></p>
        <button type="button" class="btn btn-outline-success btnS" (click)="up(idee)">😄</button>
        {{idee.voteUp}}
        <button type="button" class="btn btn-outline-danger mBtn btnS" (click)="down(idee)">😠</button>
        {{idee.voteDown}}
        <div class="progress mProgress"style="height: 5px;">
  <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
</div>
      </div>
    </ng-container>
  </div>
</div>