<div id="tout">
  <div id="principal">
    <ng-container *ngFor="let idee of idees">
      <div class="idee">
        <p>{{idee.contenu}}<p>
        <p class="auteur">Par : <b>{{idee.auteur}}</b></p>
        <button type="button" class="btn btn-outline-success btnS" (click)="up(idee)">😄</button>
        {{idee.voteUp}}
        <button type="button" class="btn btn-outline-danger mBtn btnS" (click)="down(idee)">😠</button>
        {{idee.voteDown}}
        <mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
      </div>
    </ng-container>
  </div>
</div>