div#principal{
  margin-left: 25%;
  display:grid;
  grid-template-columns: repeat(3,35%);
  grid-template-rows: auto;
}

p.auteur{
  margin-top:auto;
}

.idee {
  border-radius: 25px;
  border: 2px solid #000000;
  padding: 20px;
  width: 20vw;
  height: auto;
  margin:20px
}