<div id="tout">
  <div id="principal">
    <ng-container *ngFor="let idee of idees">
      <div class="idee" ng-if="idee.auteur == this.user.pseudo">
        <p>{{idee.contenu}} <button type="button" class="btn btn-outline-danger mBtn btnS btnClose"  style="float:right;"  (click)="delete(idee)">x</button><p>
        <p class="auteur">Par : <b>{{idee.auteur}}</b></p>
        <button type="button" class="btn btn-outline-success btnS" (click)="up(idee)">😄</button>
        {{idee.voteUp}}
        <button type="button" class="btn btn-outline-danger mBtn btnS" (click)="down(idee)">😠</button>
        {{idee.voteDown}}
      </div>

      <div class="idee" ng-if="idee.auteur != this.user.pseudo" style="background-color='#000000';">
        <p>{{idee.contenu}} <button type="button" class="btn btn-outline-danger mBtn btnS btnClose"  style="float:right;"  (click)="delete(idee)">x</button><p>
        <p class="auteur">Par : <b>{{idee.auteur}}</b></p>
        <button type="button" class="btn btn-outline-success btnS" (click)="up(idee)">😄</button>
        {{idee.voteUp}}
        <button type="button" class="btn btn-outline-danger mBtn btnS" (click)="down(idee)">😠</button>
        {{idee.voteDown}}
      </div>
    </ng-container>
  </div>
</div>