div#principal{
  margin-left: 20%;
  display:grid;
  grid-template-columns: repeat(3,35%);
  grid-template-rows: auto;
}

div#tout{
  height: 100vh;
  overflow-y: scroll;
}

p.auteur{
  margin-top:auto;
}

.mBtn{
  margin-left:10px;
}

.btnS{
  width:"10%";
}

.idee {
  border-radius: 25px;
  border: 2px solid #000000;
  padding: 20px;
  width: 20vw;
  height: auto;
  margin:20px
}

