form{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

div#zoneLogin{
  position: absolute;
  top:50%;
}

div input{
  padding-left: 2vw;
  padding-right: 2vw;
  padding-top: 1.5vh;
  padding-bottom: 1.5vh;
}